<div class="class">
  <h2>Animais:</h2>
  <ul>
    <li *ngFor="let animal of animals">
      nome: {{ animal.name }} - Tipo: {{ animal.type }}
      <button (click)="showAge(animal)">show age</button>
    </li>
    <p *ngIf="animalDetails !== ''; else animalNotice">{{ animalDetails }}</p>
    <ng-template #animalNotice>
      <p>Escolha um animal</p>
    </ng-template>
  </ul>

  <div class="container" *ngFor="let animal of animals">
    <p>Foto</p>
    <h5>Nome do seu pet</h5>
    <p>Nome: {{ animal.name }}</p>
    <h5>Tipo do seu pet</h5>
    <p>Nome: {{ animal.type }}</p>
  </div>
</div>
